__pycache__/
.env
*.session
wget-log
logo.png
logo_base64.txt
favico.png
favico_base64.txt
banner.png
banner_optimized.jpg

# Cloudflare Wrangler Pinger Project
pinger-js/
.wrangler/
static/thumbnail_cache/
